.slide-6 {
  background: url("../../images/06-concat/bg.jpg") no-repeat;
  background-size: cover;

  .item-qcode {
    position: absolute;
    top: 24%;
    left: 0;
    right: 0;
    bottom: 57%;
    text-align: center;

    img {
      width: 8rem;
      height: 8rem;
    }
  }

  .item-text {
    position: absolute;
    top: 48%;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: bold;
  }

  .item-bottom {
    position: absolute;
    top: 51%;
    left: 0;
    right: 0;
    .bottom-item {
        position: relative;
        left: 50%;
        width: 15rem;
        height: 3rem;
        margin-left: -7.5rem;
        padding: 0.1rem 1.2rem;
        font-size: 0.6rem;
        color: #fff;
        line-height: 2.7rem;
        background: url("../../images/06-concat/info_bg.png") no-repeat center;
        background-size: 100%;

        &.bottom-item-3 {
          padding-top: 0.5rem;
          line-height: 1rem;
          background: url("../../images/06-concat/address_bg.png") no-repeat center;
          background-size: 100%;
        }
    }
  }
}