@charset "UTF-8";

.btn-music {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 999;
    border: none;
    padding: 0;
    animation: btnMusicAni 3s infinite linear;
    background: url('../../images/music_btn.png') no-repeat;
    background-size: contain;
    &.paused {
        opacity: 0.4;
        animation: none;
    }
}

@keyframes btnMusicAni {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}