@charset "UTF-8";

.slide-3,
.slide-5,
.slide-6 {
  .item-title {
    width: 100%;
    height: 3rem;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.slide-3 {
  .item-title {
    background: url("#{$imgUrl}/03-nav/title.png") no-repeat center;
    background-size: auto 100%;
  }
}
.slide-5 {
  .item-title {
    background: url("#{$imgUrl}/05-cooperation/title.png") no-repeat center;
    background-size: auto 100%;
  }
}
.slide-6 {
  .item-title {
    background: url("#{$imgUrl}/06-concat/title.png") no-repeat center;
    background-size: auto 100%;
  }
}