@charset "UTF-8";

.next-btn {
    width: 3rem;
    height: 2rem;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    z-index: 999;
    border: none;
    padding: 0;
    opacity: 0;
    animation: upArrowAni 2s infinite linear 3s;
    background: url("../../images/next_btn.png") no-repeat center;
    background-size: 100%;
}

@keyframes upArrowAni {
    0% {
        opacity: 0;
        transform: translate3d(-50%, 30%, 0);
    }

    30% {
        opacity: 1;
        transform: translate3d(-50%, -20%, 0);
    }

    60% {
        opacity: 0;
        transform: translate3d(-50%, -35%, 0);
    }

    100% {
        opacity: 0;
        transform: translate3d(-50%, -50%, 0);
    }
}
